langchain
langgraph
langgraph-checkpoint-sqlite
langchain_community
langchain_core
langchain_groq
langchain-ollama
langchain-chroma
langchain-text-splitters
fastembed
langsmith
pypdf
ddgs
fastapi
uvicorn
watchdog
pydantic
fastmcp
python-dotenv
streamlit
